@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

:root {
  --color-primary-0: #204981;
  --color-primary-1: #5177AB;
  --color-primary-2: #365E96;
  --color-primary-3: #133565;
  --color-primary-4: #062046;

  /*BLACK COLOR SCHEME*/

  --color-dark-pastel-0: #203046; /**/
  --color-dark-pastel-1: #425063; /*lighter*/
  --color-dark-pastel-2: #2E3A4B; /**/
  --color-dark-pastel-3: #14253C; /**/
  --color-dark-pastel-4: #09182D; /**/

  /*lighter pastelly*/

  --color-light-pastel-0: #2C4870;
  --color-light-pastel-1: #758AA8;
  --color-light-pastel-2: #4C678C;
  --color-light-pastel-3: #142F54;
  --color-light-pastel-4: #051A38;



  --color-day-0: #5BACD3;
  --color-day-1: #B8E1F5;
  --color-day-2: #84C5E5;
  --color-day-3: #3A93BE;
  --color-day-4: #1C79A7;
  --color-day-text: black;
  /*
  --color-night-0: #150D78;
  --color-night-1: #3D34B0;
  --color-night-2: #1E1596;
  --color-night-3: #0D0759;
  --color-night-4: #050231;
  */
  --color-night-0: #2C4870;
  --color-night-1: #758AA8;
  --color-night-2: #4C678C;
  --color-night-3: #142F54;
  --color-night-4: #051A38;
  --color-night-text: white;
}



/*--------------------------------------------------*/

.sideBar{

  text-align: center;

  display: inline-block;
  position: fixed;
  overflow-x: hidden;
  
  height: 100%;
  width: 4%; /* */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  
  left: 0px;
  -webkit-transition: width  0.2s; /* Safari */
  transition: width  0.2s;

}

.sideBar.light {
  background: var(--color-day-0);
}
.sideBar.dark {
  background: var(--color-night-0);  
}

.sideBar.active { 
  width: 20%;
  height: 100%;
}

.sideBar:hover:not(.active) {
  width: 5%;
}


li:before {
  content: " | ";
}

/*--------------------------------------------------*/

.mainApp{
  position: fixed;
  right: 0px;
  height: 100%;
  width: 96%;
  display: inline-block;
  text-align: center;
}

.mainApp.light {
  background: var(--color-light-pastel-1)
}

.mainApp.dark {
  background: var(--color-dark-pastel-1)
}


/* UL STYLES */
ul{
    list-style-type: none;
}


