@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

:root {

  /* placeholders */
  --color-bg:orange;
  --color-sidebar: brown;
  --color-text: cyan;
  --color-linkcolor: gray;
  --color-2: yellow;
  
  --borderStyle: dotted;

}

body, html {

  min-height: 100%;
  overflow: auto;

}

a { 
    color: var(--color-linkcolor);
}

.pdfDisplay{
  height: 100%
}

ul{
  list-style-type: none;
}


/*--------------------------------------------------*/

.sideBar{
  background-color: var(--color-sidebar);
  
  text-align: center;    
  
  display: inline-block;  
  position: fixed;    
  
  border-right: 2px var(--borderStyle) var(--color-text);  
  
  height: 100%;  
  width: 4%; /* */    
  z-index: 1; /* Stay on top */      
  top: 0; /* Stay at the top */        
  
  left: 0px;  
  
}  

.sideBar.active { 
  width: 20%;
  
}

.seperator {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  
  width: 100%;
  border-bottom: 2px dashed var(--color-text);
}

img.profile {
  width: 80%;
  border-radius: 100%;
}

.sideBar:hover:not(.active) {
  width: 5%;
}

.horizontalLayoutList {
  width: 90%;
  padding-left: 10%;
}

ul.horizontalLayoutList li {
  position: relative;
  left: 0px;
  display: inline;
}

ul.horizontalLayoutList li + li:before {
  content: " ~ ";
}


ul.navLinks {
  padding-left: 10%;
  /*text-align: left;*/
  width: 90%;
}

ul.navLinks li:not(:last-child) {
  border-bottom: 1px dotted var(--color-linkcolor);
}

ul.navLinks li {
  margin-right: 5%;
}

ul.navLinks li a {
  padding-left: 10px;
}




/*--------------------------------------------------*/


.mainApp{
  position: absolute;
  margin-left: 4%;
  min-height: 100%;
  width: 96%;
  display: inline-block;
  text-align: center;
  background-color: var(--color-bg);  
}


.sectionImage  {  
  /*position: static;*/     
  /* Set a specific height */
  min-height: 250px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed; 
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}



.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.App * {
  
    color: var(--color-text);


  --t: 0.2s;

  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-transition: all var(--t); /* Safari */
  -khtml-transition: all var(--t); /* Konqueror HTML */
  -moz-transition: all var(--t); /* Firefox */
  -ms-transition: all var(--t); /* Internet Explorer/Edge */
  transition: all var(--t); /* Non-prefixed version, currently
  supported by normal browsers*/
  transition-timing-function: ease-in-out;
  
}